<div class="jumbotron">
    <h1 class="display-4">Oops!</h1>
    <p class="lead">La página que desea visualizar no está disponible. Aseguresé de haber escrito una dirección correcta o bien presione el boton inferior para dirigirse a inicio o ingrese al sistema si no se encuentra logueado.</p>
        <hr class="my-4">
        <p>Recuerde que toda actividad en el sistema se encuentra monitoreada para su navegación segura.</p>
        <!-- <p class="lead">
          <a class="btn btn-primary btn-lg " role="button" routerlink='inicio'><i class="fas fa-home"></i> Inicio</a>
          <a class="btn btn-primary btn-lg" role="button" *ngIf="!isLogged"><i class="far fa-user"></i> Login</a>
        </p> -->
</div>