<div class="container">
  <h2>ABM - Sitios</h2>
  <form (ngSubmit)="onSubmitSitio()" class="col">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" name="nombre" id="nombre" class="form-control" [(ngModel)]="regSitio.nombre">
        </div>
      </div>
      <div class="col">
        <label for="responsable">Responsable:</label>
        <input type="text" name="responsable" id="responsable" class="form-control" [(ngModel)]="regSitio.responsable">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="ubicacion">Ubicacion:</label>
          <input type="text" name="ubicacion" id="ubicacion" class="form-control" [(ngModel)]="regSitio.ubicacion">
        </div>
      </div>
      <div class="col">
        <label for="telefono">Teléfono:</label>
        <input type="text" name="telefono" id="telefono" class="form-control" [(ngModel)]="regSitio.telefono">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="detalles">Detalles:</label>
        <input type="text" name="detalles" id="detalles" class="form-control" [(ngModel)]="regSitio.detalles">
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-success mt-3 mb-3"> <i class="fas fa-save"></i> Guardar</button>
      <button type="reset" class="btn btn-warning"> <i class="far fa-window-close"></i> Limpiar</button>
    </div>
  </form>
  <table class="table mt-10">
    <thead>
      <tr>
        <th class="d-none">ID</th>
        <th>Nombre</th>
        <th>Responsable</th>
        <th>Ubicación</th>
        <th>Telefono</th>
        <th>Detalles</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dt of sitios async">
        <td class="d-none"> {{dt.id}} </td>
        <td> {{dt.nombre}} </td>
        <td> {{dt.responsable}} </td>
        <td> {{dt.ubicacion}} </td>
        <td> {{dt.telefono}} </td>
        <td> {{dt.detalles}} </td>
        <td>
          <button title="Editar Sitio" class="btn btn-success mr-2" (click)="openModal(editarSitio, dt)"><i
              class="fas fa-pencil-alt"></i></button>
          <button title="Eliminar Sitio" class="btn btn-danger" (click)="openModal(eliminarSitio, dt)"><i
              class="far fa-trash-alt"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Editar Sitio -->
<ng-template #editarSitio>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edicion del Sitio</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- Form para modificar el registro de hall  -->
    <form class="col">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" class="form-control" [(ngModel)]="regSitio.nombre">
          </div>
        </div>

        <div class="col">
          <label for="responsable">Responsable</label>
          <input type="text" name="responsable" id="responsable" class="form-control"
            [(ngModel)]="regSitio.responsable">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="ubicacion">Ubicación</label>
            <input type="text" name="ubicacion" id="ubicacion" class="form-control" [(ngModel)]="regSitio.ubicacion">
          </div>
          <div class="form-group">
            <label for="telefono">Teléfono</label>
            <input type="text" name="telefono" id="telefono" class="form-control" [(ngModel)]="regSitio.telefono">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="detalles">Detalles / Observaciones</label>
            <input type="text" name="detalles" id="detalles" class="form-control" [(ngModel)]="regSitio.detalles">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="modificarSitio(regSitio)">Guardar</button>
    <button class="btn btn-danger" (click)="modalRef.hide()">Cancelar</button>
  </div>
</ng-template>
<!-- Template de confirmacion para eliminar -->
<ng-template #eliminarSitio>
  <div class="modal-body text-center back-degradado">
    <p> <strong> ESTA A PUNTO DE ELIMINAR UN REGISTRO DE SITIO!</strong></p>
    <p> <strong> ESTA ACCION NO SE PUEDE DESHACER!! </strong></p>
    <p class="pelimina">Id: {{regSitio.id}}</p>
    <p class="pelimina">Nombre: {{regSitio.nombre}} </p>
    <p class="pelimina">Responsable: {{regSitio.responsable}} </p>
    <p class="pelimina">Teléfono: {{regSitio.telefono}} </p>
    <p class="pelimina">Detalles: {{regSitio.detalles}} </p>

    <p>¿Está seguro de eliminar el registro seleccionado?</p>
    <button type="button" class="btn btn-danger mr-4" (click)="borrarSitioDefinitivo(regSitio)">Confirmar</button>
    <button type="button" class="btn btn-primary" (click)="decline()">Cancelar</button>
  </div>
</ng-template>
